{% load static %}
<footer>
  
    <div class="footer-container">
        <div class="about about-us">
            <h2 id="h2-footer">Om oss</h2>
            <p>Välkommen till Östanbäcks generationsbyggen!</p>
            <ul class="social">
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
   
        </div>
       
 
     </div>
     <div class="about links">
         <h2 id="h2-footer">Länkar</h2>
         <ul>
            <li><a href="{% url 'index' %}">Hem</a></li>
            <li><a href="{% url 'about' %}">Om oss</a></li>
            <li><a href="{% url 'references' %}">Referenser</a></li>
            <li><a href="{% url 'services' %}">Tjänster</a></li>
            <li><a href="{% url 'estimate' %}">Offert</a></li>

        </ul>
     </div>
    <div class="about contact">
        <h2 id="h2-footer">Hitta till oss</h2>
        <ul class="info">
            <li>
                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span><br>
                <span><a href="https://www.google.com/maps/place/%C3%96stanb%C3%A4cksv%C3%A4gen+67,+818+92+Valbo/@60.6644557,16.9893731,17z/data=!3m1!4b1!4m5!3m4!1s0x4660c854b7872385:0x39bfe6146027717b!8m2!3d60.6644557!4d16.9893731">Östanbäcksvägen 67<br>
                    818 92 Valbo</a></span> <br>
            </li>
            <li> 
                <span><i class="fa fa-phone" aria-hidden="true"></i></span><br>
                <p><a href="tel:+0738249144">+46 73 824 91 44</a></p><br>
            </li>
            <li> 
                <span><i class="fa fa-envelope" aria-hidden="true"></i></span><br>
                <p><a href="mailto:rickard@zbyggstyrning.se">rickard@zbyggstyrning.se</a></p>
            </li>
      

        </ul>
    </div>
 </div> 
</footer> 
<div class="copyright">
    <div>
    <p>© 2022 Östanbäcks generationsbyggen AB</p>
</div>
</div> 
  
   
