{% load static %}
<header>
<nav>
        <div class="company-logo">
            <a href="{% url 'index' %}"><img class="logo" src="{% static 'images/logotype.png' %}" alt=""></a>
        </div>
        <div class="hamIcon" onclick="toggleClass()">
            <h1>&#9776;</h1>
        </div>
            <ul class="nav-list">
                <li class="list-item"><a href="{% url 'about' %}" >Om oss</a></li>
                <li class="list-item"><a href="{% url 'contact' %}">Kontakt</a></li> 
                <li class="list-item"><a href="{% url 'references' %}">Tidigare projekt</a></li>
                <li class="list-item"><a href="{% url 'services' %}">Tjänster</a></li>
                <li class="list-item"><a href="{% url 'estimate' %}">Offert</a></li> 
            </ul>

 </nav>
</header>